<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_negooxtools"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_negooxtools_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrainingMindApp"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.statistics.profitChart.ProfitChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.statistics.costsChart.CostsChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.statistics.soldsChart.SoldsChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.statistics.ranking.RankingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.statistics.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.productLIst.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.productLIst.UpdateProductsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.productLIst.ProductsListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.addData.AddDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.profiles.ProfilesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.aproxCalculate.AproxCalculateActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>